{% extends "layout.html" %}
{% block body %}


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container">

          <div class="owl-carousel portfolio-details-carousel">
            {% set fname = 'assets/img/portfolio/' + portfolio_apps.app_img %}
            <img src="{{ url_for('static', filename=fname) }}" class="img-fluid" alt="">
            <img src="{{ url_for('static', filename=fname) }}" class="img-fluid" alt="">
            <img src="{{ url_for('static', filename=fname) }}" class="img-fluid" alt="">
          </div>

          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: App</li>
              <li><strong>Client</strong>: {{portfolio_apps.app_client}}</li>
              <li><strong>Project date</strong>: {{portfolio_apps.date}}</li>
              <li><strong>Project URL</strong>: <a href="{{portfolio_apps.app_url}}" target="_blank" >{{portfolio_apps.app_url}} </a></li>
            </ul>
          </div>

        </div>

        <div class="portfolio-description">
          <h2>{{portfolio_apps.app_title}} </h2>
          <p>
            {{portfolio_apps.app_content}}
          </p>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  {% endblock %}
