{% extends "dashboard.html" %}
{% block body %}


<main id="main">
 

  <section id="contact" class="contact">
    <div class="container">
          
      <div class="section-title">
        <h2>Profile <i class="bx bx-edit"></i></h2>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  
                  {% for category, message in messages %}
                  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert" data-aos="fade-down">
                    <strong>{{message}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
  
                  {% endfor %}
                  
              {% endif %}
              {% endwith %}

      <div class="col-lg-15 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up"> 
        <form action="/uploader" method="POST" class="php-email-form" enctype="multipart/form-data">
          <div class="form-group"><label for="text">Upload Profile Picture</label></div>
            <input type="file" id="myFile" name="filename" required>
            <button type="submit">Submit</button>
        </form>
      </div> 
      <div class="mb-3">
      </div> 
      <div class="row" data-aos="fade-up">
        <div class="col-lg-15 mt-5 mt-lg-0 d-flex align-items-stretch"> 
          <form action="/profile-update" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{profile.name}} "  >
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="name">DOB</label>
                <input type="text" class="form-control" id="dob" name="dob" value="{{profile.dob}} " >
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{profile.email}} " >
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Send Mail URL</label>
                <input type="text" class="form-control" id="send_mail" name="send_mail" value="{{profile.send_mail}} " >
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Address</label>
                <input type="text" class="form-control" id="location" name="location" value="{{profile.location}} " >
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Location URL</label>
                <input type="text" class="form-control" id="location_url" name="location_url" value="{{profile.location_url}} " >
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Location Map URL</label>
                <input type="text" class="form-control" id="location_map" name="location_map" value="{{profile.location_map}} " >
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Mobile</label>
                <input type="text" class="form-control" id="phone_num" name="phone_num" value="{{profile.phone_num}} " >
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Call URL</label>
                <input type="text" class="form-control" id="call_url" name="call_url" value="{{profile.call_url}}">
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Website</label>
                <input type="text" class="form-control" id="website" name="website" value="{{profile.website}}" >
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Profile Picture</label>
                <input type="text" class="form-control" id="pro_img" name="pro_img" value="{{profile.pro_img}} " >
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Background Picture</label>
                <input type="text" class="form-control" id="bg_img" name="bg_img" value="{{profile.bg_img}} "  >
                <div class="validate"></div>
              </div>
            </div>                
                          
            <div class="mb-3">
            </div>

            <div class="text-center"><button type="submit">Update</button></div>
          </form>
        </div>   
      </div>
      
       
    </div>
  </section>
              
</main>

{% endblock %}