{% extends "dashboard.html" %}
{% block body %}

<main id="main">

 <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Services   <i class="bx bx-edit"></i></h2>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  
                  {% for category, message in messages %}
                  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert" data-aos="fade-down">
                    <strong>{{message}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
  
                  {% endfor %}
                  
              {% endif %}
              {% endwith %}
      <div class="row" data-aos="fade-up">
        <div class="col-lg-15 mt-5 mt-lg-0 d-flex align-items-stretch"> 
          <form action="/services-update" method="post" role="form" class="php-email-form" >
              <div class="form-group">
              <label for="name">Service Head</label>
              <textarea class="form-control" name="head" rows="6" >{{servicehead.head}} </textarea>
              <div class="validate"></div>
              </div>
              <div class="mb-3">
              </div>
              <div class="text-center"><button type="submit">Update</button></div>
          </form>
          </div>
          <div class="mb-3">  
        </div>

        <div class="section-title">
          <h2>Edit Services <i class="bx bx-edit"></i></h2>
            <div class="col-lg-15" data-aos="fade-up" >
              <a href="/services-edit/0"><button class="btn btn-primary">Add Services</button></a>
                <hr>
                <div class="table-responsive">
                  <table class="table table-hover" class="table">
                    <thead>
                      <tr>
                        <th scope="col">Sno</th>
                        <th scope="col">Title</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                      </tr>
                    </thead>
                    <tbody>
    
                        {% for service in services %}
                      <tr>
                        <th scope="row">{{service.sno}}</th>
                        <td>{{service.title}}</td>
                        <td><a href="/services-edit/{{service.sno}}"><button class="btn btn-primary">Edit</button></a></td>
                        <td><a href="/services-delete/{{service.sno}}"><button class="btn btn-primary">Delete</button></a></td>
                      </tr>
                      
                      {% endfor %}
    
                    </tbody>
                  </table>
                </div>
            </div>
        </div>

      </div>


    </div>
  </section>

</main>

{% endblock %}